@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

@import "tailwindcss";

*{
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
}

.placeholder-color{
    color: #e0e0e0;
    font-weight: 300;
}

/* index.css ke sabse neeche paste karein */

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}